/* General styles for all pages */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container, .login-container, .register-container, .dashboard-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
    color: #333;
}

.btn-container {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5753d4;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Dashboard Styles */
.menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-list li {
    margin-bottom: 15px;
}

.menu-list a {
    text-decoration: none;
    color: #6c63ff;
    font-size: 18px;
}

.menu-list a:hover {
    color: #5753d4;
}
